
.slick-prev:before, .slick-next:before {
    color: rgb(5, 187, 66);
    font-size: 40px;
}

button.slick-prev {
    z-index: 1;
    left: 5px;
    width: 40px;
    height: 40px;
}

button.slick-next {
    z-index: 1;
    right: 6px;
    height: 40px;
    width: 40px;
}

.slick-dots {
    bottom: -40px;
}