.user-dropdown-menu {
    position: absolute;
    top: 70px;
    width: 250px;
    transform: translateX(-60%);
    background-color: #242526;
    border: 1px solid #474a4d;
    border-radius: 8px;
    padding : 1rem;
    overflow: hidden;
    z-index: 2;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 500ms;
    padding: 0.5rem;
    color: #dadce1;
    text-decoration: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
    color: #dadce1;
    text-decoration: none;
  }

  @media screen and (max-width: 725px) {
    .user-dropdown-menu {
      transform: translateY(30%);
    }
  }