#website-footer {
    background-image: linear-gradient(45deg, #3a7cb4, #1dfdc6, #8ff57d);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #755e33;

    .footer-logo {
        height: 90px;
        background-color: transparent;
    }
    // position: fixed;
    // bottom: 0;
    // width: 100%;
}