.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-button {
  border: 0;
  padding: 0;
  background: #E4E6EB;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: relative;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  .fas {
    color: black;
  }
}

.icon-button:hover {
  background: #d6d7db;
  cursor: pointer;
}

.icon-button:focus {
  background: rgb(23, 240, 204);
}

.icon-button.responsive {
  display: none;
}

.website-logo {
  width: 100px;
  height: 100px;
}

.web-navbar {
  background-color: #f8f9fa;
}

.burger-menu {
  display: none;
}

.blank-space {
  display: none;
  height: 100px;
}

// .user-icon-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 40px;
//   width: 40px;
//   background-color: grey;
//   border-radius: 20px;

.user-icon:hover {
  background: #d6d7db;
}

.user-icon:focus {
  background: rgb(23, 240, 204);
}
.user-icon {
  border: 0;
  padding: 0;
  // background: rgb(23, 240, 204);
  background: #E4E6EB;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: relative;
  right: 30px;
}
// }

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  > div {
    margin-right: 10px;
  }

  .fa-user:before {
    color: black;
  }
}

.web-navbar {
  background: #f8f9fa;
}

@media screen and (max-width: 725px) {
  .web-navbar {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .navbar {
    position: static;
  }

  a.navbar-brand {
    margin-right: 0px;
  }

  .user-info {
    display: none;
    align-items: center;
  }

  .user-icon {
    right: 0;
  }

  .icon-button.responsive {
    display: block;
    position: absolute;
    line-height: 40px;
    top: 40px;
    right: 30px;
  }

  .burger-menu {
    display: block;
  }

  .search-bar {
    display: none;
  }

  .linkbar {
    display: none;
  }

  // DarkModeSwitch {
  //   display: none;
  // }
}
