.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.website-logo {
  width: 100px;
  height: 100px;
}

.web-navbar {
  background-color: #f8f9fa;
}

.burger-menu {
  display: none;
}

.blank-space {
  display: none;
  height: 100px;
}

// .user-icon-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 40px;
//   width: 40px;
//   background-color: grey;
//   border-radius: 20px;

  .user-icon {
    border: 0;
    padding: 0;
    background: grey;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    position: relative;
    right: 30px;
  }
// }

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 725px) {
  .web-navbar {
    display: flex;
    justify-content: center;
  }

  a.navbar-brand {
    margin-right: 0px;
  }

  .user-info {
    display: none;
    align-items: center;
  }
  
  .user-icon {
    right: 0;
  }


  .burger-menu {
    display: block;
  }

  .search-bar {
    display: none;
  }

  .linkbar {
    display: none;
  }

  DarkModeSwitch {
    display: none;
  }
}


