.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navigation-bar a {
    color: white;
    padding: 0.5rem 0.5rem;
}

.dropdown-item-link {
    color: black!important;
    text-align: center;
    width: 100%;
}