// .player-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-end;
//   align-items: center;
// }

.player-wrapper {
  //   height: 100%;
  //   width: 100%;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
