// $primary-color: rgb(5, 187, 66);
$primary-color: rgb(56, 56, 56);

@mixin section-title {
    font-size: x-large;
    color: $primary-color;
    font-weight: bolder;
    padding-bottom: 10px;
}

@mixin section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}