.cart-title {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
}

.cart-card-container {
  padding-bottom: 150px;
  .card-div {
  }
}

.cart-bottom-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background-color: rgb(46, 41, 41);
  color: aliceblue;
  font-size: 30px;

  > div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  .btn {
    background-color: aliceblue;
    color: black;
    border-color: rgb(252, 247, 241);
    width: 95%;
    margin: 0 auto;
  }
}
