.category-main-container {
  padding: 30px;

  .button-container {
    display: flex;
    padding: 20px 0px;

    .btn {
      margin-right: 5px;
    }
  }

  .panel-card-container {
    display: flex;

    .card-body {
      height: 112px;

      .form-check {
        overflow: hidden;
        height: 24px;
        line-height: 24px;
      }
    }
  }

  .panel > div {
    margin-bottom: 10px;
  }

  .all-course-container {
    width: 100%;
  }

  .dropdown-menu {
  }
}
