.sub-title {
  font-size: 30px;
  font-weight: bold;
}

.course-top-background {
  background-image: linear-gradient(45deg, #8ff57d, #1dfdc6, #3a7cb4);;
  width: 100vw;
  height: 400px;
  padding: 25px;
  display: flex;
  justify-content: center;

  > div {
    width: 76vw;
    height: 250px;
    display: flex;

    .responsive-container {
      img {
        width: 76vw;
      }

      .price {
        font-size: 40px;
        font-weight: bold;
        color: black;
      }

      .btn {
        margin: 15px;
      }
    }

    .course-info-container {
      text-align: left;
      width: 40vw;
      height: 250px;

      > div {
        margin: 5px;
      }
      .course-name {
        font-size: 2rem;
        font-weight: bold;
        word-wrap: break-word;
      }

      .course-objective {
        font-size: 30px;
        word-wrap: break-word;
      }

      .course-rating {
        font-size: 15px;
      }

      .tutor-image {
        height: 50px;
        border-radius: 50%;
        margin-left: 10px;
      }
    }

    .card {
      position: fixed;
      //top: 224px;
      right: 12vw;
      // right: 0;
      width: 350px;
      height: 400px;
      box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 0.19);

      .card-body > div {
        display: flex;
        flex-direction: column;

        .btn {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.course-bottom-background {
  width: 100vw;
  padding: 25px;
  display: flex;
  justify-content: center;

  .card-header {
    .btn {
      text-align: left !important;
    }
  }

  > div {
    width: 76vw;
    height: 250px;
    display: flex;

    .bottom-info-container {
      text-align: left;
      width: 40vw;
      height: 250px;

      > div {
        margin-bottom: 30px;
      }
    }

    .comment-container {
      .comment-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .expand:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.lesson-container {
  .accordion > .card > .card-header {
    justify-content: space-between;

    .MuiTypography-body1 {
      text-align:right;
    }
  }
}
@media (max-width: 1080px) {
  .sticky.card {
    display: none;
  }

  .course-top-background {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
    }

    > div .course-info-container {
      width: 80vw;
      height: auto;
    }
  }
  .course-bottom-background > div .bottom-info-container {
    text-align: left;
    width: 80vw;

    .card-header {
      .btn {
        text-align: left !important;
      }
    }
  }

  .responsive-container {
    display: block !important;
  }

  .button-container {
    justify-content: center;
  }
}
