.sub-title {
  font-size: 30px;
  font-weight: bold;
}

.course-top-background {
  background-color: #7cd6d6;
  width: 100vw;
  height: 300px;
  padding: 25px;
  display: flex;
  justify-content: center;

  > div {
    width: 76vw;
    height: 250px;
    display: flex;

    .responsive-container {
      img {
        width: 76vw;
      }

      .btn {
        margin: 15px;
      }
    }

    .course-info-container {
      text-align: left;
      width: 40vw;
      height: 250px;

      > div {
        margin: 5px;
      }
      .course-name {
        font-size: 50px;
        font-weight: bold;
      }

      .course-objective {
        font-size: 30px;
      }

      .course-rating {
        font-size: 15px;
      }
    }

    .card {
      position: fixed;
      top: 224px;
      right: 12vw;
      // right: 0;
      width: 350px;
      height: 400px;

      .card-body > div {
        display: flex;
        flex-direction: column;

        .btn {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.course-bottom-background {
  width: 100vw;
  padding: 25px;
  display: flex;
  justify-content: center;

  > div {
    width: 76vw;
    height: 250px;
    display: flex;

    .bottom-info-container {
      text-align: left;
      width: 40vw;
      height: 250px;

      > div {
        margin-bottom: 30px;
      }
    }

    .comment-container {
      .comment-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .expand:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .sticky.card {
    display: none;
  }

  .course-top-background {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
    }

    > div .course-info-container {
      width: 80vw;
      height: auto;
    }
  }
  .course-bottom-background > div .bottom-info-container {
    text-align: left;
    width: 80vw;
  }

  .responsive-container {
    display: block !important;
  }

  .button-container {
    justify-content: center;
  }
}
