#edit-lesson-container {
    margin-top: 30px;

    #edit-lesson-form {
        margin-top: 50px;
    }

    #submit-button {
        background-color: #5656FA;
        color: white;
        margin-top: 30px;
        margin-bottom: 40px;
        width: 200px;
        height: 50px;
    }

    #submitting-button {
        background-color: #4bff69;
        color: rgb(102, 100, 100);
        margin-top: 30px;
        margin-bottom: 40px;
        width: 200px;
        height: 50px;
    }
}
