@import '../common.scss';

.body-section-intro {
    @include section-padding;
    background-color: rgba(72, 250, 132, 0.3);
    color: #494f62!important;
}

.section-title {
    @include section-title;
}

.section-icon {
    height: 70px;
    width:  70px;
    margin-bottom: 10px;
}

.section-card {
    margin-bottom: 30px;
}

.section-cards {
    margin-top: 20px;
}

.courses-carousel {
    padding-top: 40px;
    padding-bottom: 20px;

    div.col {
        padding: 10px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.card {
        height: 280px;
        width: 250px;
    }
}