@import '../common.scss';

.body-section-intro {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(72, 250, 132, 0.3);
    color: #494f62!important;
}

.section-title {
    @include section-title;
}

.section-icon {
    height: 70px;
    width:  70px;
    margin-bottom: 10px;
}

.section-card {
    margin-bottom: 20px;
}

.section-cards {
    margin-top: 20px;
}

.courses-carousel {
    padding-top: 50px;
    padding-bottom: 50px;
}