.modal-content {
  .fas.fa-check {
    color: #43b838;
  }

  .fas.fa-times {
    color: #ce2b2b;
  }
}

.nav-tabs {
  color: black;

  .nav-link {
    width: 25% !important;
  }

  a,
  .fas,
  .far {
    color: black !important;
  }
}

.tab-content {
  height: 100%;

  #description-container {
    display: flex;
    justify-content: center;

    p {
      width: 80vw;
      text-align: left;
      white-space: pre-line;
    }
  }

  .player-wrapper {
    //   height: 100%;
    //   width: 100%;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .material-content {
    padding: 50px 0px;
    font-size: 20px;
  }

  .purchase-first {
    padding: 50px;
    font-size: 20px;
  }

  .exe-container {
    display: flex;
    justify-content: center;

    .lesson-exe {
      justify-content: center;
      text-align: left;

      > div {
        margin-bottom: 20px;
      }
    }
  }
}

.topic-nav {
  .topic-nav-item {
    width: 100%;
  }

  a {
    .far {
      color: black !important;
    }

    white-space: pre;
    color: black;
    padding: 12px;

    p {
      line-height: 100%;
      margin-bottom: 0px !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .nav-link:hover {
    color: black !important;
  }

  .active {
    background-color: rgb(133, 231, 157) !important;
  }
}

.thread-container {
  .card {
    box-shadow: none !important;
    border: 1px solid rgba(19, 32, 32, 0.404);
  }

  .thread {
    p {
      text-align: left;
      white-space: pre-line;
      font-size: 16px;
    }

    p.username {
      color: rgba(25, 44, 42, 0.637);
      text-align: right;
      font-size: 14px;
    }
  }
}
