.modal-content {
  .fas.fa-check {
    color: #43b838;
  }

  .fas.fa-times {
    color: #ce2b2b;
  }
}

.nav-tabs {
  color: black;

  .nav-link {
    width: 25% !important;
  }

  a,
  .fas,
  .far {
    color: black !important;
  }
}

.tab-content {
  height: 100%;

  #description-container {
    display: flex;
    justify-content: center;

    p {
      width: 80vw;
      text-align: left;
      white-space: pre-line;
    }
  }

  .player-wrapper {
    //   height: 100%;
    //   width: 100%;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }

  .react-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .material-content {
    padding: 50px 0px;
    font-size: 20px;
  }

  .purchase-first {
    padding: 50px;
    font-size: 20px;
  }

  .exe-container {
    display: flex;
    justify-content: center;

    .lesson-exe {
      justify-content: center;
      text-align: left;

      > div {
        margin-bottom: 20px;
      }
    }
  }
}
