.stripe-form-back-button {
  position: absolute;
  top: 30px;
  left: 15vw;
}

.stripe-form-container {
  background-color: rgb(201, 226, 243);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
